@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model int

<div class="container my-4 p-4 bg-light border rounded">
    <div>
        <a asp-controller="chata" asp-action="Index" asp-route-id="@Model">Rozložení postelí</a> @*Zasedací pořádek*@
    </div>
    <div>
        <a asp-controller="chata" asp-action="AkceAUkoly" asp-route-id="@Model" asp-route-idUcastnik="@ViewBag.idUcastnik">Akce a Úkoly</a> @*akce*@
    </div>
</div>


<div class="container my-4 p-4 bg-light border rounded">
    place for chat
</div>
